
.ant-popover {
  // 标题样式 ant-checkbox-wrapper
  .column-config-title {
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .ant-config-content {
    .ant-checkbox-wrapper {
      margin-bottom: 8px;
    }
    // 内容标题
    .content-title {
      margin-bottom: 8px;
      color: #8c8c8c;
      font-size: 12px;
    }
    .option {
      cursor: pointer;
      float: right;
      .right {
        margin-left: 8px;
      }
    }
  }
}
